/*variables*/
/*variables*/
/*order card*/

#wrapper{
  overflow: unset !important;
}
.order-space {
  margin-top: 1.5rem;
}

.order-space .orderCard {
  background: #FFF;
  width: 100%;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: .5rem;
  padding: 2rem;
  margin-bottom: 3rem;
  /*order head*/
  /*order head*/
  /*order data*/
  /*order data*/
}

@media (max-width: 970px) and (min-width: 768px) {
  .order-space .orderCard {
    overflow-x: scroll;
  }
}

@media (max-width: 725px) {
  .order-space .orderCard {
    overflow-x: scroll;
  }
}

@media print {
  .order-space .orderCard {
    overflow: hidden;
  }
}

.order-space .orderCard .order-head {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.05);
}

.order-space .orderCard .order-head h3.order-heading {
  color: #263238;
  margin-top: 1rem;
  margin-bottom: .5rem;
  position: relative;
}

.order-space .orderCard .order-head h3.order-heading::before {
  content: "";
  position: absolute;
  top: -.5rem;
  left: -2rem;
  height: 3rem;
  width: .2rem;
  background: #5fbeaa;
}

.order-space .orderCard .order-head p.order-paragraph {
  text-transform: capitalize;
  color: #b1b1b1;
}

.order-space .orderCard .table {
  /*table header*/
  /*table body*/
  /*table body*/
}

.order-space .orderCard .table__header--row th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  color: #6c757d;
  cursor: pointer;
  font-size: 1.4rem;
  background: #EEE;
}

@media print {
  .order-space .orderCard .table__header--row th {
    font-size: 12pt;
  }
}

.order-space .orderCard .table__body--row {
  transition: background .5s;
  cursor: pointer;
  /*td*/
}

.order-space .orderCard .table__body--row:hover {
  background: #f3f3f3;
}

.order-space .orderCard .table__body--row td {
  padding: 1.2rem;
  padding-left: .8rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  vertical-align: middle;
  color: #455a64;
  border-top: none;
  /*car details*/
}

.order-space .orderCard .table__body--row td .car-img {
  width: 3rem;
  height: 3rem;
  float: left;
  margin-right: 1rem;
}

.order-space .orderCard .table__body--row td .car-img img {
  max-width: 100%;
  border-radius: 100%;
}

@media (max-width: 1055px) and (min-width: 1025px) {
  .order-space .orderCard .table__body--row td .car-img {
    float: none;
  }
}

@media (max-width: 780px) and (min-width: 768px) {
  .order-space .orderCard .table__body--row td .car-img {
    float: none;
  }
}

@media (max-width: 550px) {
  .order-space .orderCard .table__body--row td .car-img {
    float: none;
  }
}

.order-space .orderCard .table__body--row td .car-details {
  float: left;
}

@media (max-width: 1055px) and (min-width: 1025px) {
  .order-space .orderCard .table__body--row td .car-details {
    float: none;
  }
}

@media (max-width: 780px) and (min-width: 768px) {
  .order-space .orderCard .table__body--row td .car-details {
    float: none;
  }
}

@media (max-width: 550px) {
  .order-space .orderCard .table__body--row td .car-details {
    float: none;
  }
}

.order-space .orderCard .table__body--row td.operation button.btn {
  margin-bottom: 1rem;
}

.order-space .orderCard .table__body--row td.operation span.fas {
  margin-left: 1rem;
}

.order-space .orderCard .table__body--row td.car-head {
  font-size: 1.8rem;
}

.order-space .orderCard .table__body--row td.car-head .fas {
  margin-right: 1rem;
  color: #5fbeaa;
}

@media (max-width: 1310px) and (min-width: 1025px) {
  .order-space .orderCard .table__body--row td.car-head {
    width: 200px;
  }
}

/*order card*/
.play {
  font-family: 'Playfair Display', serif;
}

.rubik {
  font-family: 'Rubik', sans-serif;
}

body {
  background: rgba(0, 0, 0, 0.05);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*
.container-fluid {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.container {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

@media (min-width: 1200px) {
  .container {
    width: 117rem;
  }
}
*/
/*company invoice*/

.user-invoice .company-heading {
  margin-top: 2rem;
  position: relative;
  color: #5fbeaa;
  cursor: pointer;
}

.user-invoice .company-heading h1 {
  padding: 0;
  margin: 0;
  padding-top: 1rem;
  font-size: 3.5rem;
  margin-bottom: .5rem;
}

.user-invoice .company-heading p {
  font-size: 1.1rem;
  text-transform: uppercase;
}

.user-invoice .company-address {
  padding-top: 1.5rem;
  cursor: pointer;
}

.user-invoice .company-address span {
  display: block;
  margin-bottom: .5rem;
  font-size: 1.4rem;
}

.user-invoice .invoice-head {
  margin-top: 3rem;
  cursor: pointer;
}

@media (min-width: 500px) {
  .user-invoice .invoice-head .invoice-heading {
    width: 50%;
  }
}

@media print {
  .user-invoice .invoice-head .invoice-heading {
    float: left;
  }
}

.user-invoice .invoice-head .invoice-heading p {
  text-align: right;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
}

@media print {
  .user-invoice .invoice-head .invoice-heading p {
    text-align: left;
  }
}

.user-invoice .invoice-head .invoice-heading h2 {
  background: #5fbeaa;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  margin-top: 0;
}

@media print {
  .user-invoice .invoice-head .invoice-heading h2 {
    text-align: left;
    background: unset;
    color:#000;
    margin-top: -30px;
  }
}

.user-invoice .invoice-head .bill-to {
  text-align: right;
  cursor: pointer;
}

@media print {
  .user-invoice .invoice-head .bill-to {
    float: right;
    text-align: left;
  }
}

@media (max-width: 767px) {
  .user-invoice .invoice-head .bill-to {
    text-align: left;
  }
}

.user-invoice .invoice-head .bill-to p {
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
  font-size: 1.5rem;
}

.user-invoice .invoice-head .bill-to span {
  display: block;
  margin-bottom: .5rem;
  font-size: 1.4rem;
}

.user-invoice .bill-information {
  padding-top: 3rem;
}

.user-invoice .bill-information .invoice-dates {
  cursor: pointer;
  margin-bottom: 2.5rem;
}

@media print {
  .user-invoice .bill-information .invoice-dates {
    float: left;
  }
}

.user-invoice .bill-information .invoice-dates p {
  font-size: 1.4rem;
}

.user-invoice .bill-information .invoice-dates span {
  display: inline-block;
  min-width: 8rem;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.3rem;
}

.user-invoice .total {
  text-align: right;
}

.user-invoice .total .total-value {
  text-align: left;
  float: right;
  cursor: pointer;
}

@media screen {
  .user-invoice .total .total-value {
    background: transparent;
    padding: 2rem;
    border-radius: .5rem;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 3rem;
  }
}

.user-invoice .total .total-value p {
  font-size: 1.6rem;
}

@media print {
  .user-invoice .total .total-value p {
    font-size: 16pt;
  }
}

.user-invoice .total .total-value span {
  display: inline-block;
  min-width: 15rem;
  font-weight: 500;
  font-size: 1.4rem;
  text-transform: uppercase;
}

@media print {
  .user-invoice .total .total-value span {
    font-size: 12pt;
  }
}

.user-invoice .total .total-value .due-amount {
  border-top: .5rem solid #27544b;
  padding-top: .5rem;
  background: #5fbeaa;
  color: #FFF;
  padding: 1rem;
}

@media print {
  .user-invoice .total .total-value .due-amount {
    border-top: .3rem solid #000;
    padding: 0;
    background: unset;
    color:#000;
  }
}

/*company invoice*/
/*print font sizes*/
@media print {
  .company-heading h1 {
    font-size: 25pt !important;
  }
  .company-heading p {
    font-size: 11pt !important;
  }
  .company-address span {
    font-size: 13pt !important;
  }
  .invoice-dates p {
    font-size: 14pt;
  }
  .invoice-dates span {
    font-size: 13pt;
  }
  .bill-to p {
    font-size: 15pt;
  }
  .bill-to span {
    font-size: 14pt;
  }
  .invoice-number .invoice {
    font-size: 18pt;
  }
  .invoice-number .num {
    font-size: 16pt;
  }
}

/*print font sizes*/

/*print*/

@media print{
  .content{
    background: #FFF;
  }

  *{
    color:#000;
    background: #FFF !important;
  }

  .play {
    font-family: unset;
  }
  
  .rubik {
    font-family: unset;
  }

  .user-invoice{
    background:#FFF !important;
  }

  .content-page{
    background: #FFF !important;
  }

  .content{
    background: #FFF !important;
  }

  body{
    background: #FFF !important;
  }
  #wrapper{
    background: #FFF !important;
  }

  .table th{
    font-size: 17pt !important;
  }
  .table td{
    font-size: 17pt !important;
  }

  .user-invoice .bill-information p{
    font-size: 15pt !important;
  }
  .user-invoice .bill-information span{
    font-size: 17pt !important;
  }

  .user-invoice .company-address span{
    font-size: 17pt !important;
  }

  .user-invoice .invoice-head .bill-to p{
      font-size: 19pt !important;    
  }

  .user-invoice .invoice-head .bill-to span{
    font-size: 17pt !important;    
  }

  .user-invoice .invoice-head h2{
    font-size: 22pt !important;
  }
  .user-invoice .invoice-head p{
    font-size: 18pt !important;
  }

  .user-invoice .total .total-value span{
    font-size: 18pt !important;
  }

  .user-invoice .total .total-value .due-amount{
    padding-top: 20px !important;
  }

  

 
}
